{% extends "core/base.html" %}

{% block container %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ todo.category.get_absolute_url }}">{{ todo.category }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ todo.title }}</li>
  </ol>
</nav>
<div class="card ">
    <h5 class="card-header text-center">Todo</h5>

    <div class="card-body">
      <h3 class="card-title ">{{ todo.title }}</h3>
      <p class="card-text mt-3">{{ todo.content }} </p>
      <p class="card-text mt-5"><small>{{ todo.created_at|date:"jS F Y H:s" }}  - tarihinde oluşturuldu...</small></p>
      <a href="/" class="btn btn-secondary mt-1">Go Todos</a>
      <br><br>
      <ul class="list-inline">
        {% for item in tag %}
        <li class="list-inline item">
         <a href="{{item.get_absolute_url}}">
           <span class="badge rounded-pill  text-bg-light">
             {{ item }}
            </span>
         </a>
          </a>
          </li>
          {% endfor %}

      </ul>
    </div>
  </div>

{% endblock container %}

